node_modules/
.next/
out/
dist/
coverage/
.pnpm-store/
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Database
prisma/*.db
prisma/*.db-journal
/ci.db
prisma/prisma/
scripts/.venv/

# Local tooling
.cursor/
prisma_backup/
1prisma
scripts/__pycache__/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
.vercel
.env*.local
